<div id="book-page">
  <div class="container">
    <h1>{{book.title}}</h1>
    
    <p class="book-info">📖 Este livro tem <span class="bold">{{book.pagesqty}}</span> páginas</p>
    <p class="book-info">✍️ Autor: <span class="bold">{{book.bookauthor}}</span></p>

    <h2>Resumo:</h2>
    <p class="book-summary">{{book.booksin}}</p>
    <div class="actions">
      <a href="/books/edit/{{book.id}}">Editar</a>
      <form action="/books/remove/{{book.id}}" method="post">
        <input type="submit" value="Remover">
      </form>
    </div>
  </div>
</div>
